body{
    background: url(./Images/lightbulb-2692247_1920.jpg) center center/cover;
    background-repeat: no-repeat;
    margin-bottom: 260px;
    background-attachment: fixed;
    font-family: 'Syne Mono', monospace;
}
input[type=text]{
    color:rgb(22, 22, 21);
    border: 2px solid black;
    border-radius: 10px;
    /* background-color: rgba(25, 91, 134, 0.808); */
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 16px;
    font-size: 50px;
    /* border: 2px solid red; */
    width: 100%;
    margin-bottom:  0px;

}
li{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 16px;
    font-size: 2.2rem;
    padding: 0px 0px;
    margin: 5px 289px;
    cursor: pointer;
    width: 50%;
    color: white;
    background-color: black;
    border-radius: 20px;
    list-style-type: none;

}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}
#heading{
    font-size: 25px;
}
.addbtn{
    font-size: 1.6rem;
    margin: 9px;
    padding: 10px;
    cursor: pointer;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 27px;
    width: 75px;
    text-align: center;
}
.addbtn:hover{
    background-color: gray;
}
li:hover{
    color: whitesmoke;
    background-color: rgb(60, 63, 71);

}
ul li.checked{
    /* color: red; */
    text-decoration: line-through;
    color: lightgrey;
    background-color: brown;
    transition-duration: 2s;
}


ul li.checked::before {
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    top: 5px;
    left: 22px;
    transform: rotate(45deg);
    height: 21px;
    width: 10px;
    color: green;
}

.close {
    position: absolute;
    right: 11px;
    top: 0px;
    padding: 0;
  }
  
  .close:hover {
    background-color: #f44336;
    color: white;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    transform: translate(10px, 0);
    /* position: relative; */
    /* left: 100px; */
  }